@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  position: relative;
  font-size: 62.5%;
  scroll-behavior: smooth;
  --fontBase: "Inter", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --bgColorPrimary: #ffffff;
  --bgColor1: #221e1e;
  --bgColor2: #018199; /* / #2E3093*/
  --bgColor3: #e0f2f6;
  --bgColorCard: #373743;
  --transparent: transparent;
  --fontColorPrimary: var(--black);
  --fontColorSecondary: var(--white);
  --overlay: rgba(0, 0, 0, 0.5);
  --overlay1: #00000083;
  --headLine1: bold 5.5rem/7rem var(--fontBase);
  --headLine2: bold 4rem/5rem var(--fontBase);
  --headLine3: bold 3.2rem/3.5rem var(--fontBase);
  --headLine4: bold 2.4rem/3.4rem var(--fontBase);
  --headLine5: bold 2rem/2.6rem var(--fontBase);
  --body1: normal 1.8rem/2.7rem var(--fontBase);
  --body2: bold 1.8rem/2.7rem var(--fontBase);
  --body3: normal 1.4rem/2.4rem var(--fontBase);
  --body4: bold 1.4rem/2.4rem var(--fontBase);
  --button: bold 1.8rem/2.7rem var(--fontBase);
  --caption: normal 1.2rem/2.7rem var(--fontBase);
}

body {
  font: var(--body1);
  position: relative;
  background-color: var(--bgColorPrimary);
  overflow-x: hidden;
}

.wrapperMain {
  padding-top: 60px;
  max-width: 1366px;
  margin: auto;
  /* padding-top: 60px;*/
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  color: var(--fontColorSecondary);
  font: var(--button);
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px var(--bgColor1);
  /* text-shadow: 1px 1px 10px var(--black);*/
  border: solid var(--bgColor2) 0.5px;
  background: var(--bgColor2);
  /*background: -moz-linear-gradient(top, var(--bgColor2), var(--bgColorPrimary));*/
}
.button:hover {
  background: linear-gradient(var(--bgColorPrimary), var(--bgColor2));
  /*background: -moz-linear-gradient(top, var(--bgColorPrimary), var(--bgColor2))*/
}

.aboutContainer,
.servicesContainer,
.faqsContainer,
.whyusContainer,
.quotesContainer,
.instructionsContainer,
.formContainer,
.benefitContainer {
  padding: 40px 20px;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}
/*Header*/
header {
  background-color: var(--bgColor1);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 11;
}

.wrapperHeader {
  margin: auto;
  max-width: 1366px;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("./../assets/img/bgMenu.svg");
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.brandContainer {
  padding-left: 20px;
  width: 50%;
}

.brandContainer img {
  vertical-align: middle;
}

.menuContainer {
  width: 50%;
  text-align: end;
}

.menuToggle {
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 40px;
}

.menuToggle i,
.menuToggle i:after,
.menuToggle i:before {
  display: block;
  position: absolute;
  height: 3px;
  width: 40px;
  right: 0;
  background: var(--bgColor3);
  border-radius: 2px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.menuToggle i:after,
.menuToggle i:before {
  content: "";
}
.menuToggle i:after {
  top: -32px;
}
.menuToggle i:before {
  top: -16px;
}
.menuToggle i {
  top: 32px;
}
.menuToggle.open i:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -22px;
}
.menuToggle.open i:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -22px;
}

.menuContainer .menuButton {
  padding-right: 10px;
  background-color: var(--transparent);
  border: 0;
  outline: none;
  cursor: pointer;
}

.menuContent {
  position: relative;
  width: 50vw;
}

.menu {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 14px;
  right: -768px;
  height: 100vh;
  background-color: var(--bgColor1);

  transition: right 0.3s ease-in-out;
}

.menuItem {
  padding: 20px;
}

.menuItem a {
  color: var(--fontColorSecondary);
  text-transform: uppercase;
}

.menuContent .show {
  right: 0px;
}

/*Banner*/
.bannerContainer {
  position: relative;
  height: 70vh;
}

.swiper {
  width: 100%;
  height: 70vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerDescription {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 20px;
  background-color: var(--overlay);
  z-index: 9;
}

.bannerDescription h1 {
  font: var(--headLine2);
  color: var(--fontColorSecondary);
}
.bannerDescription h1 span {
  display: block;
}
.bannerDescription h2 {
  color: var(--fontColorSecondary);
  font: var(--body2);
}
/*About*/

.aboutDescription p {
  margin-bottom: 30px;
}
.aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Services*/
.servicesContainer {
  background-color: var(--bgColor1);
}
.servicesContainer h3 {
  text-align: center;
}
.servicesContainer h3 {
  margin: 15px 0;
  color: var(--bgColor2);
  font: var(--body2);
  text-transform: uppercase;
}
.servicesContainer h2 {
  color: var(--fontColorSecondary);
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.cardGeneral {
  text-align: center;
  padding: 15px;
  min-width: 280px;
  max-width: 300px;
}
.cardService {
  box-shadow: 0 0 4px var(--bgColor3);
  border-radius: 5px;
}
.cardService img {
  border-radius: 5px;
}
.cardGeneral.cardService {
  background-color: var(--bgColorCard);
  color: var(--bgColorPrimary);
}
.card img {
  margin-bottom: 10px;
}
.card h3 {
  font: var(--body2);
  margin: 15px 0;
}
.card h4 {
  font: var(--body4);
}
.card p {
  margin-top: 15px;
  font: var(--body3);
}
/*FAQs*/
.faqsContainer {
  margin: auto;
  min-width: 320px;
  max-width: 768px;
}

.faqsTitle {
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  outline: none;
  color: var(--bgColorPrimary);
  background: var(--bgColor2);
  margin: 0;
  cursor: pointer;
  font: var(--button);
}
.faqsDescription {
  display: none;
  margin: 0;
  padding: 16px 19px 24px;
  font: var(--body4);
}
/*whyus*/
.whyusContainer {
  background-color: var(--bgColor3);
}
.cardGeneral.cardwhyus {
  background-color: var(--bgColorPrimary);
  color: var(--fontColorPrimary);
}
.cardwhyus {
  box-shadow: 0 0 8px var(--bgColor1);
  border-radius: 10px;
}
.cardwhyus h3 {
  margin: 10px 0;
}
/*Quote*/
.quotesContainer {
  background-color: var(--bgColor2);
  color: var(--fontColorSecondary);
}
.quotesContainer p {
  text-align: center;
}
.quotesContainer p:first-child {
  font: var(--headLine4);
  margin-bottom: 10px;
}

.quotesContainer p:last-child {
  font: var(--body3);
}
/*contact*/

.instructionsContainer {
  background-color: var(--bgColor3);
}
.instructionsContainer h2 {
  font: var(--headLine4);
}
.instructionsInfo {
  margin-bottom: 25px;
}
.instructionsContainer {
  font: var(--body3);
}
.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.instruction div:first-child {
  width: 40px;
}
.instruction div:last-child h4 {
  font: var(--body2);
}
.instruction div:last-child p {
  font: var(--caption);
}
.formContainer {
  text-align: center;
  background-color: var(--bgColor1);
}
input,
textarea {
  background-color: var(--bgColorCard);
  color: var(--bgColorPrimary);
  font: var(--body4);
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
  border: 0;
  outline: none;
}
input {
  height: 40px;
  padding-left: 10px;
}

textarea {
  padding-top: 5px;
}
.submit {
  width: 50%;
}
/*Provider*/

.benefitContent {
  width: 100%;
  margin-top: 10px;
  padding: 15px 0;
  display: flex;
  overflow-x: scroll;
}

.benefitContent::-webkit-scrollbar {
  -webkit-appearance: none;
}
.benefitContent::-webkit-scrollbar:horizontal {
  height: 10px;
}
.benefitContent::-webkit-scrollbar-track:horizontal {
  background: var(--bgColor1);
  border-radius: 10px;
}
.benefitContent::-webkit-scrollbar-thumb {
  background: var(--bgColor2);
  border-radius: 20px;
  border: 1px solid var(--black);
  box-shadow: 2px 2px 8px var(--white) inset;
}
.benefit {
  margin: 0 5px;
  min-width: 170px;
  text-align: center;
  position: relative;
}
/*footer*/
footer {
  background-color: var(--bgColor1);

  color: var(--bgColorPrimary);
}
.footerBrand {
  text-align: center;
  padding: 40px 20px;
}
.footerBrand img {
  width: 50%;
}
.infoFooterContainer {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.addressContainer h3,
.rrssContainer h3 {
  font: var(--headLine5);
  text-align: center;
}

.itemFooter {
  margin-bottom: 20px;
}
.itemFooter div,
.itemFooter div a {
  display: flex;
  color: var(--bgColorPrimary);
}

.itemFooter div img {
  margin-right: 10px;
}

.firmContainer {
  background-color: var(--bgColorCard);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media*/
@media screen and (min-width: 768px) {
  .wrapperHeader {
    background-position: center;
  }
  .aboutContainer {
    display: flex;
    gap: 20px;
  }
  .contactContainer {
    padding: 40px;
    display: flex;
  }
  .instructionsContainer,
  .formContainer {
    width: 50%;
  }
  .footerBrand img {
    width: 50%;
  }
  .infoFooterContainer {
    flex-direction: row;
  }

  .addressContainer,
  .rrssContainer {
    width: 50%;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .brandContainer {
    width: 25%;
  }
  .menuContainer {
    width: 75%;
  }
  .menuButton {
    display: none;
  }
  .menuContent {
    position: relative;
    width: 100%;
  }
  .menu {
    background-color: transparent;
    width: 100%;
    justify-content: space-evenly;
    position: static;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .aboutContainer div {
    width: 50%;
  }
  .instructionsContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 40px 100px;
  }
  .quotesContainer {
    padding: 60px 40px;
  }
  .benefitContent {
    justify-content: center;
  }
  .benefitContent::-webkit-scrollbar {
    display: none;
  }
}
